<div class="main-editor-wrap">
  <div class="editor-head none-blur justify-content-between">

    <div class="d-flex align-items-center justify-content-between" style="width: calc(100% - 200px); max-width: 750px;">
      <div class="head-conatiner">
        <button class="button" [ngClass]="{'active': currentFontWeight}" title="Bold"
          (click)="currentFontWeight = !currentFontWeight" onclick="document.execCommand('bold', false, '');">
          <img class="inactive" src="assets/icons/editor-head/inactive/bold.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/bold.svg" alt="">
        </button>
        <button class="button" [ngClass]="{'active': currentItalic}" title="Italic"
          (click)="currentItalic = !currentItalic" onclick="document.execCommand('italic', false, '');">
          <!-- <i class="fas fa-italic"></i> -->
          <img class="inactive" src="assets/icons/editor-head/inactive/italic.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/italic.svg" alt="">
        </button>
        <button class="button" [ngClass]="{'active': currentUnderLine}" title="Underline"
          (click)="currentUnderLine = !currentUnderLine" onclick="document.execCommand('underline', false, '');">
          <!--Подчеркивание текста-->
          <!-- <i class="fas fa-underline"></i> -->
          <img class="inactive" src="assets/icons/editor-head/inactive/underline.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/underline.svg" alt="">
        </button>
        <button class="button" [ngClass]="{'active': showMoreText}"
          (click)="hideDetails(); showMoreText = !showMoreText">
          <img class="inactive" src="assets/icons/editor-head/inactive/more-text.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/more-text.svg" alt="">
        </button>
      </div>
      <div class="head-conatiner">
        <button class="button" [ngClass]="{'active': currentJustifyLeft}" title="Align left"
          (click)="currentJustifyLeft = !currentJustifyLeft; currentJustifyRight = false; currentJustifyCenter = false; currentJustifyFull = false;"
          onclick="document.execCommand('justifyLeft', false, '');">
          <!--Выравание слева-->
          <!-- <i class="fas fa-align-left"></i> -->
          <img class="inactive" src="assets/icons/editor-head/inactive/align-left.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/align-left.svg" alt="">
        </button>
        <button class="button" [ngClass]="{'active': currentJustifyCenter}" title="Align center"
          (click)="currentJustifyCenter = !currentJustifyCenter; currentJustifyLeft = false; currentJustifyRight = false; currentJustifyFull = false;"
          onclick="document.execCommand('justifyCenter', false, ''); ">
          <!--Выравание по центру-->
          <!-- <i class="fas fa-align-center"></i> -->
          <img class="inactive" src="assets/icons/editor-head/inactive/align-centre.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/align-centre.svg" alt="">
        </button>
        <button class="button" [ngClass]="{'active': currentJustifyRight}" title="Align right"
          (click)="currentJustifyRight = !currentJustifyRight; currentJustifyLeft = false; currentJustifyCenter = false; currentJustifyFull = false;"
          onclick="document.execCommand('justifyRight', false, '');">
          <!--Выравание справа-->
          <!-- <i class="fas fa-align-right"></i> -->
          <img class="inactive" src="assets/icons/editor-head/inactive/align-right.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/align-right.svg" alt="">
        </button>


        <button class="button" [ngClass]="{'active': showMoreParagraph}"
          (click)="hideDetails(); showMoreParagraph = !showMoreParagraph">
          <img class="inactive" src="assets/icons/editor-head/inactive/more-paragraph.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/more-paragraph.svg" alt="">
        </button>
      </div>
      <div class="head-conatiner">
        <button class="button" [ngClass]="{'active': false}" (click)="createLink()">
          <img class="inactive" src="assets/icons/editor-head/inactive/link.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/link.svg" alt="">
        </button>
        <label class="label" title="Upload image">
          <img class="inactive" src="assets/icons/editor-head/inactive/image.svg" alt="" style="position: absolute;">
          <img class="active" src="assets/icons/editor-head/active/image.svg" alt="" style="position: absolute;">
          <input style="opacity: 0;" type='file' (change)="readImg($event)" />
        </label>
        <label class="label" title="Upload video">
          <img class="inactive" src="assets/icons/editor-head/inactive/video.svg" alt="" style="position: absolute;">
          <img class="active" src="assets/icons/editor-head/active/video.svg" alt="" style="position: absolute;">
          <input style="opacity: 0;" type='file' (change)="readVideo($event)" />
        </label>
        <button class="button" [ngClass]="{'active': showMoreFormating}"
          (click)="hideDetails(); showMoreFormating = !showMoreFormating">
          <img class="inactive" src="assets/icons/editor-head/inactive/more-rich.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/more-rich.svg" alt="">
        </button>
      </div>
    </div>

    <div class="head-conatiner">
      <button class="button" [ngClass]="{'active': false}" onclick="document.execCommand('undo', false, null);">
        <img class="inactive" src="assets/icons/editor-head/inactive/undo.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/undo.svg" alt="">
      </button>
      <button class="button" [ngClass]="{'active': false}" onclick="document.execCommand('redo', false, null);">
        <img class="inactive" src="assets/icons/editor-head/inactive/redo.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/redo.svg" alt="">
      </button>
      <button class="button" [ngClass]="{'active': false}" id="col6Btn" title="2 col layout">
        <img class="inactive" src="assets/icons/editor-head/inactive/template.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/template.svg" alt="">
      </button>
      <button class="button" [ngClass]="{'active': showMoreMisc}" (click)="hideDetails(); showMoreMisc = !showMoreMisc">
        <img class="inactive" src="assets/icons/editor-head/inactive/more-misc.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/more-misc.svg" alt="">
      </button>
    </div>
  </div>
  <div [hidden]="!showMoreText" class="editor-head sub-menu none-blur">
    <button class="button" [ngClass]="{'active': currentStrikeThrough}" title="Strike through"
      (click)="currentStrikeThrough = !currentStrikeThrough"
      onclick="document.execCommand('strikeThrough', false, ''); ">
      <!--Зачеркивание текста-->
      <!-- <i class="fas fa-strikethrough"></i> -->
      <svg class="inactive" height="20px" width="15px">
        <use xlink:href="assets/icons/editor-head/inactive/strikethrough.svg#strikethrough" />
      </svg>
      <svg class="active" height="20px" width="15px">
        <use xlink:href="assets/icons/editor-head/active/strikethrough.svg#strikethroughActive" />
      </svg>
    </button>
    <button class="button" [ngClass]="{'active': currentSuperscript}" title="Super"
      (click)="currentSuperscript = !currentSuperscript" onclick="document.execCommand('superscript', false, ''); ">
      <!--Верхний индекс-->
      <!-- <i class="fas fa-superscript"></i> -->
      <img class="inactive" src="assets/icons/editor-head/inactive/superscript.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/superscript.svg" alt="">
    </button>
    <button class="button" [ngClass]="{'active': currentSubscript}" title="Sub"
      (click)="currentSubscript = !currentSubscript" onclick="document.execCommand('subscript', false, ''); ">
      <img class="inactive" src="assets/icons/editor-head/inactive/subscript.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/subscript.svg" alt="">
    </button>
    <div class="drb-wrap" (clickOutside)="showDrbFontFamily = false">
      <button class="button" [ngClass]="{'active': false}" title="Font family"
        (click)="showDrbFontFamily = !showDrbFontFamily">
        <svg class="inactive" height="20px" width="20px">
          <use xlink:href="assets/icons/editor-head/inactive/font-family.svg#fontFamily" />
        </svg>
        <svg class="active" height="20px" width="20px">
          <use xlink:href="assets/icons/editor-head/active/font-family.svg#fontFamilyActive" />
        </svg>
        <div class="arrow">
          <img class="inactive" src="assets/icons/editor-head/inactive/path.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/path.svg" alt="">
        </div>
      </button>
      <div *ngIf="showDrbFontFamily" class="default-drb">
        <button *ngFor="let font of fontFamilyList" (click)="showDrbFontFamily = false;"
          onclick="document.execCommand ('fontName', false, this.value);" class="default-drb--item button"
          [value]="font.value">
          {{font.lable}}
        </button>
      </div>
    </div>
    <div class="drb-wrap" (clickOutside)="showDrbFontSize = false">
      <button class="button" (click)="showDrbFontSize = !showDrbFontSize" style="min-width: 50px;"
        [ngClass]="{'active': false}" title="Font size">
        <svg class="inactive" height="20px" width="30px">
          <use xlink:href="assets/icons/editor-head/inactive/font-size.svg#fontSize" />
        </svg>
        <svg class="active" height="20px" width="30px">
          <use xlink:href="assets/icons/editor-head/active/font-size.svg#fontSizeActive" />
        </svg>
        <div class="arrow">
          <img class="inactive" src="assets/icons/editor-head/inactive/path.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/path.svg" alt="">
        </div>
      </button>
      <div *ngIf="showDrbFontSize" class="default-drb">
        <button *ngFor="let size of fontSizeList" (click)="showDrbFontSize = false;"
          onclick="document.execCommand ('fontSize', false, this.value);" class="default-drb--item button"
          [value]="size.value">
          {{size.lable}}
        </button>
      </div>
    </div>
    <div class="drb-wrap" (clickOutside)="showDrbFontColor = false">
      <button class="button" [ngClass]="{'active': showDrbFontColor}" (click)="showDrbFontColor = !showDrbFontColor"
        title="Font color">
        <svg class="inactive" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18">
          <g fill="none" fill-rule="evenodd" transform="translate(0 -3)">
            <text fill="#000" font-family="Roboto-Regular, Roboto" font-size="20">
              <tspan x="0" y="21">A</tspan>
            </text>
            <circle cx="12" cy="16" r="4" [attr.fill]="currentColour || '#000'" stroke="#F5F5F5" stroke-width="2" />
          </g>
        </svg>
        <svg class="active" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18">
          <g fill="none" fill-rule="evenodd" transform="translate(0 -3)">
            <text fill="#2196f3" font-family="Roboto-Regular, Roboto" font-size="20">
              <tspan x="0" y="21">A</tspan>
            </text>
            <circle cx="12" cy="16" r="4" [attr.fill]="currentColour || '#2196f3'" stroke="#fff" stroke-width="2" />
          </g>
        </svg>
      </button>
      <div *ngIf="showDrbFontColor" class="default-drb colors">
        <button *ngFor="let color of fontColorList" [ngStyle]="{'background': color.value}"
          (click)="showDrbFontColor = false;" onclick="document.execCommand ('foreColor', false, this.value);"
          class="default-drb--item button" [value]="color.value">
        </button>
      </div>
    </div>
    <div class="drb-wrap" (clickOutside)="showDrbFontFill = false">
      <button class="button" title="Fill color" (click)="showDrbFontFill = !showDrbFontFill">
        <img class="inactive" src="assets/icons/editor-head/inactive/background-color.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/background-color.svg" alt="">
      </button>
      <div *ngIf="showDrbFontFill" class="default-drb colors">
        <button *ngFor="let color of fontColorList" [ngStyle]="{'background': color.value}"
          onclick="document.execCommand ('backColor', false, this.value);"
          (click)="showDrbFontFill = false; setClassElement('colored-text')" class="default-drb--item button"
          [value]="color.value">
        </button>
      </div>
    </div>
    <button class="button" title="Clear formating" onclick="document.execCommand ('removeFormat', false, null);">
      <svg class="inactive" height="20px" width="17px">
        <use xlink:href="assets/icons/editor-head/inactive/clear-formatting.svg#clearFormatting" />
      </svg>
      <svg class="active" height="20px" width="17px">
        <use xlink:href="assets/icons/editor-head/active/clear-formatting.svg#clearFormattingActive" />
      </svg>
    </button>
  </div>
  <div [hidden]="!showMoreParagraph" class="editor-head sub-menu none-blur">
    <button class="button" [ngClass]="{'active': currentJustifyFull}" title="Align justify"
      (click)="currentJustifyFull = !currentJustifyFull; currentJustifyLeft = false; currentJustifyRight = false; currentJustifyCenter = false;"
      onclick="document.execCommand('justifyFull', false, '');">
      <!--Выравание по всей ширине-->
      <!-- <i class="fas fa-align-justify"></i> -->
      <img class="inactive" src="assets/icons/editor-head/inactive/align-justify.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/align-justify.svg" alt="">
    </button>
    <div class="drb-wrap" (clickOutside)="showOrderedList = false">
      <button class="button" [ngClass]="{'active': false}" title="Insert ordered list"
        (click)="showOrderedList = !showOrderedList">
        <img class="inactive" src="assets/icons/editor-head/inactive/ordered-list.svg" alt=""
          style="width: 20px; margin-right: 5px;">
        <img class="active" src="assets/icons/editor-head/active/ordered-list.svg" alt=""
          style="width: 20px; margin-right: 5px;">
        <div class="arrow">
          <img class="inactive" src="assets/icons/editor-head/inactive/path.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/path.svg" alt="">
        </div>
      </button>
      <div *ngIf="showOrderedList" class="default-drb">
        <button *ngFor="let type of orderedList"
          (click)="setStyleParent(type.style); setOrderedList(); showOrderedList = false;"
          class="default-drb--item button" [value]="type.lable">
          {{type.lable}}
        </button>
      </div>
    </div>
    <div class="drb-wrap" (clickOutside)="showUnorderedList = false">
      <button class="button" [ngClass]="{'active': false}" title="Insert unordered list"
        (click)="showUnorderedList = !showUnorderedList">
        <img class="inactive" src="assets/icons/editor-head/inactive/unordered-list.svg" alt=""
          style="margin-right: 5px;">
        <img class="active" src="assets/icons/editor-head/active/unordered-list.svg" alt="" style="margin-right: 5px;">
        <div class="arrow">
          <img class="inactive" src="assets/icons/editor-head/inactive/path.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/path.svg" alt="">
        </div>
      </button>
      <div *ngIf="showUnorderedList" class="default-drb">
        <button *ngFor="let type of unorderedList"
          (click)="setStyleParent(type.style); setUnorderedList(); showUnorderedList = false;"
          class="default-drb--item button" [value]="type.lable">
          {{type.lable}}
        </button>
      </div>
    </div>
    <div class="drb-wrap" (clickOutside)="showParagraphFormat = false">
      <button class="button" (click)="showParagraphFormat = !showParagraphFormat" [ngClass]="{'active': false}"
        title="Paragraph Format">
        <img class="inactive" src="assets/icons/editor-head/inactive/paragraph-format.svg" alt=""
          style="margin-right: 5px;">
        <img class="active" src="assets/icons/editor-head/active/paragraph-format.svg" alt=""
          style="margin-right: 5px;">
        <div class="arrow">
          <img class="inactive" src="assets/icons/editor-head/inactive/path.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/path.svg" alt="">
        </div>
      </button>
      <div *ngIf="showParagraphFormat" class="default-drb">
        <button *ngFor="let format of paragraphFormatList" (click)="showParagraphFormat = false;"
          onclick="document.execCommand('formatBlock', false, this.value);" class="default-drb--item button"
          [value]="format.tag">
          {{format.lable}}
        </button>
      </div>
    </div>
    <div class="drb-wrap" (clickOutside)="showLineHeight = false">
      <button class="button" [ngClass]="{'active': false}" (click)="showLineHeight = !showLineHeight"
        title="Line Height">
        <img class="inactive" src="assets/icons/editor-head/inactive/line-height.svg" alt="" style="margin-right: 5px;">
        <img class="active" src="assets/icons/editor-head/active/line-height.svg" alt="" style="margin-right: 5px;">
        <div class="arrow">
          <img class="inactive" src="assets/icons/editor-head/inactive/path.svg" alt="">
          <img class="active" src="assets/icons/editor-head/active/path.svg" alt="">
        </div>
      </button>
      <div *ngIf="showLineHeight" class="default-drb">
        <button *ngFor="let lineHeight of lineHeightList"
          (click)="showLineHeight = false; setStyleElement(lineHeight.style)" class="default-drb--item button"
          [value]="lineHeight.lable">
          {{lineHeight.lable}}
        </button>
      </div>
    </div>
    <button class="button" (click)="setTextIndent()" [ngClass]="{'active': false}" title="">
      <img class="inactive" src="assets/icons/editor-head/inactive/decrease-indent.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/decrease-indent.svg" alt="">
    </button>
    <button class="button" (click)="removeTextIndent()" [ngClass]="{'active': false}" title="">
      <img class="inactive" src="assets/icons/editor-head/inactive/increase-indent.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/increase-indent.svg" alt="">
    </button>
    <button class="button" (click)="setQuote()" [ngClass]="{'active': false}" title="">
      <img class="inactive" src="assets/icons/editor-head/inactive/quote.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/quote.svg" alt="">
    </button>
  </div>
  <div [hidden]="!showMoreFormating" class="editor-head sub-menu none-blur">

    <div class="pos-r none-blur" (clickOutside)="showTableConstructor = false"
      (click)="showTableConstructor = !showTableConstructor">
      <button class="button" id="tableBtn" [ngClass]="{'active': false}" title="Table">
        <img class="inactive" src="assets/icons/editor-head/inactive/table.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/table.svg" alt="">
      </button>
      <div [ngClass]="{'show': showTableConstructor}" class="table-constructor">
        <div id="tableСonstructorBody" class="body">
          <div *ngFor="let row of constructorData; let i = index">
            <button class="button" *ngFor="let col of row; let j = index"
              [id]="'tableСonstructorElement-' + (i + 1) + '-' + (j + 1)" class="item none-blur"
              (click)="generatetable($event)">
              <div class="inside"></div>
            </button>
          </div>
        </div>
        <div class="foot">
          <span id="rows">0</span> x <span id="cols">0</span>
        </div>
      </div>
    </div>
    <div class="pos-r" (clickOutside)="showEmoji = false">
      <button class="button" (click)="showEmoji = !showEmoji" [ngClass]="{'active': false}" title="Emoji">
        <img class="inactive" src="assets/icons/editor-head/inactive/emoji.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/emoji.svg" alt="">
      </button>
      <emoji-mart class="emoji-list" *ngIf="showEmoji" (emojiSelect)="setEmoji($event)" set="emojione"></emoji-mart>
    </div>
    <div class="drb-wrap" (clickOutside)="showSpecialSymbols = false">
      <button (click)="showSpecialSymbols = !showSpecialSymbols" class="button" [ngClass]="{'active': false}" title="">
        <img class="inactive" src="assets/icons/editor-head/inactive/special-character.svg" alt="">
        <img class="active" src="assets/icons/editor-head/active/special-character.svg" alt="">
      </button>
      <div *ngIf="showSpecialSymbols" class="default-drb">
        <button *ngFor="let symbol of specialSymbolstList" (click)="showSpecialSymbols = false; setSymbol(symbol.value)"
          class="default-drb--item button" [value]="symbol.value">
          {{symbol.value}}
        </button>
      </div>
    </div>
    <button class="button" [ngClass]="{'active': false}" title="Insert horizontal line"
      onclick="document.execCommand('insertHorizontalRule', false, null);">
      <img class="inactive" src="assets/icons/editor-head/inactive/insert-line.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/insert-line.svg" alt="">
    </button>
  </div>
  <div [hidden]="!showMoreMisc" class="editor-head sub-menu none-blur">
    <button class="button" [ngClass]="{'active': false}" title="">
      <img class="inactive" src="assets/icons/editor-head/inactive/spell-check.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/spell-check.svg" alt="">
    </button>
    <button class="button" [ngClass]="{'active': false}" title="">
      <img class="inactive" src="assets/icons/editor-head/inactive/select-all.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/select-all.svg" alt="">
    </button>
    <button class="button" [ngClass]="{'active': false}" title="">
      <img class="inactive" src="assets/icons/editor-head/inactive/help.svg" alt="">
      <img class="active" src="assets/icons/editor-head/active/help.svg" alt="">
    </button>
  </div>

  <div id="editableContainer" class="editor-wrap" contenteditable="true">
    <p class="element-space"></p>
    <div class="element-space"></div>
  </div>

  <div style="display: flex; justify-content: center;">
    <div class="save-btn-wrap">
      <button class="button" class="button-primary" (click)="save()">Save</button>
    </div>
    <!-- <div class="save-btn-wrap">
      <button class="button" class="button-primary" (click)="setPos(10)">setPos</button>
    </div> -->
  </div>

</div>